<h1 mat-dialog-title>Share note</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="emailField" type="text" id="email" placeholder="Email address" autofocus>
  </mat-form-field>

  <form [formGroup]="nameForm">
    <mat-form-field>
      <input matInput formControlName="firstName" type="text" placeholder="First name" autofocus>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lastName" type="text" placeholder="Last name" autofocus>
    </mat-form-field>
  </form>

  <h2>email results:</h2>
  <div *ngIf="isEmailResultLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!isEmailResultLoading && isEmailResultEmpty">
    no results
  </div>
  <mat-list role="list" *ngIf="!isEmailResultLoading && !isEmailResultEmpty">
    <mat-list-item role="listitem" *ngFor="let user of emailSearchResults">
      {{ user.lastName }}, {{ user.firstName }} ({{ user.email }})
    </mat-list-item>
  </mat-list>

  <h2>name results:</h2>
  <div *ngIf="isNameResultLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="!isNameResultLoading && isNameResultEmpty">
      no results
    </div>
  <mat-list role="list" *ngIf="!isNameResultLoading && !isNameResultEmpty">
    <mat-list-item role="listitem" *ngFor="let user of nameSearchResults">
      {{ user.lastName }}, {{ user.firstName }} ({{ user.email }})
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions class="button-container">
  <button mat-button [mat-dialog-close]="false" tabindex="-1">
    <mat-icon>arrow_back</mat-icon>
    <span class="button-text">CANCEL</span>
  </button>
  <button mat-flat-button (click)="share()" color="primary" tabindex="-1">
    <mat-icon>share</mat-icon>
    <span class="button-text">SHARE</span>
  </button>
</div>
