<h1 mat-dialog-title>Share note</h1>

<div mat-dialog-content class="content-size">
  <mat-tab-group (selectedIndexChange)="selectedTabIndex = $event">
    <mat-tab label="Search by email">
      <div class="top-margin full-width flex">
        <mat-form-field class="flex-element-one">
          <input matInput [formControl]="emailField" required minlength="3" type="text" id="email" placeholder="Email address" autocomplete="off">
          <mat-error *ngIf="emailField.invalid">The search term must be at least 3 characters long</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isEmailResultLoading" class="attach-container full-width">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div *ngIf="!isEmailResultLoading && isEmailResultEmpty" class="result-container full-width">
        <p class="no-result-par">no results</p>
      </div>

      <div class="result-container full-width" *ngIf="!isEmailResultLoading && !isEmailResultEmpty">
        <mat-list class="result-list">
          <mat-list-item *ngFor="let user of emailSearchResults">
            <button mat-button class="list-button" (click)="selectByEmail(user)" color="{{ isSelectedByEmail(user) ? 'accent' : '' }}">
              {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>

    <mat-tab label="Search by name">
      <form [formGroup]="nameForm" class="top-margin full-width flex">
        <mat-form-field class="flex-element-one">
          <input matInput formControlName="firstName" type="text" placeholder="First name" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="flex-element-one">
          <input matInput formControlName="lastName" type="text" placeholder="Last name" autocomplete="off">
        </mat-form-field>
      </form>

      <div *ngIf="isNameResultLoading" class="attach-container full-width">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div *ngIf="!isNameResultLoading && isNameResultEmpty" class="result-container full-width">
        <p class="no-result-par">no results</p>
      </div>

      <div class="result-container full-width" *ngIf="!isNameResultLoading && !isNameResultEmpty">
        <mat-list class="result-list">
          <mat-list-item *ngFor="let user of nameSearchResults">
            <button mat-button class="list-button" (click)="selectByName(user)" color="{{ isSelectedByName(user) ? 'accent' : '' }}">
              {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" tabindex="-1">
    <mat-icon>arrow_back</mat-icon>
    <span class="button-text">CANCEL</span>
  </button>

  <button mat-flat-button [disabled]="!canShare() || addReadInProgress || addEditInProgress" (click)="shareToRead()" color="primary" tabindex="-1" matTooltip="Allow this person to read your note">
    <mat-icon *ngIf="!addReadInProgress">visibility</mat-icon>
    <mat-progress-spinner [diameter]="24" mode="indeterminate" class="button-spinner" *ngIf="addReadInProgress"></mat-progress-spinner>
    <span class="button-text">SHARE</span>
  </button>

  <button mat-flat-button [disabled]="!canShare() || addReadInProgress || addEditInProgress" (click)="shareToEdit()" color="primary" tabindex="-1" matTooltip="Allow this person to edit your note">     
    <mat-icon *ngIf="!addEditInProgress">create</mat-icon>
    <mat-progress-spinner [diameter]="24" mode="indeterminate" class="button-spinner" *ngIf="addEditInProgress"></mat-progress-spinner>
    <span class="button-text">SHARE</span>
  </button>
</div>