<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Notes
    </mat-toolbar>
    <wr-note-list></wr-note-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <wr-toolbar (toggleSidenav)="sidenav.toggle()" (toggleTheme)="toggleTheme()" (logOut)="logOut()"></wr-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
