@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~@angular/material/prebuilt-themes/purple-green.css';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Raleway');
@include mat-core($custom-typography);

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.full-width-dialog {
  max-width: 425px !important;
  width: 100vw !important;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
}
