<h1 mat-dialog-title>Delete {{ objectName }}</h1>

<div mat-dialog-content>
  Are you sure?
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" tabindex="-1">
    <mat-icon>arrow_back</mat-icon>
    <span class="button-text">CANCEL</span>
  </button>

  <button mat-flat-button (click)="doDelete()" [disabled]="inProgress" color="warn" tabindex="-1">
    <mat-icon *ngIf="!inProgress">delete</mat-icon>
    <mat-progress-spinner [diameter]="24" mode="indeterminate" class="button-spinner" *ngIf="inProgress"></mat-progress-spinner>
    <span class="button-text">DELETE</span>
  </button>
</div>
