<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()" tabindex="-1">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

  <span>White Raven</span>
  <span class="spacer"></span>

  <button mat-icon-button class="toolbar-button" (click)="createNote()" matTooltip="Create note" tabindex="-1">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button class="toolbar-button" [matMenuTriggerFor]="menu" tabindex="-1">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleTheme.emit()">Switch theme</button>
    <button mat-menu-item (click)="logOut.emit()">Log out</button>
  </mat-menu>

</mat-toolbar>
