@import '../../shared/variables.scss';

.sidenav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 16px 0 -16px;
  min-width: $TOOLBAR_HEIGHT;
}

.toolbar-button {
  margin-left: 12px;
}

.spacer {
  flex: 1 1 auto;
}
